.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

  background-color: #232323;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > * {
  margin : 10px;
}

button {
  background-color: #9500ff;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 0px 10px rgba(204, 160, 255, 0.5);
}

button:hover {
  background-color: #56008f;
}

span {
  color: #9500ff;
  font-size: 24pt;
  text-shadow : 0 0 20px #9500ff;
}

img {
  height: 80%;
}

.square {
  color: #9500ff;
  text-shadow : 0 0 20px #9500ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 2px solid #9500ff;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0.5em;
  gap: 1em;
  grid-template-rows: 70px 70px 70px;
}

